* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #464676;
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareas-lista-principal {
  width: 900px;
  min-height: 700px;
  margin: 10px;
  border-radius: 26px;
}

@media (max-width: 992px) {
  .tareas-lista-principal {
    min-width: 500px;
  }
}

@media (max-width: 576px) {
  .tareas-lista-principal {
    min-width: 320px;
  }
}